.main {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}
.logo-header {
    display: flex;
    justify-content: space-between;
}
address span {
    margin: 0 16px 0 6px;
}
address img:last-child {
    position: relative;
    top: 10px;
}
.custom {
    display: none;
    font-weight: 600;
    font-size: 30px;
    line-height: 46px;
    color: #0263AC;
    margin: 2rem 0 0 0;
}
header h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: #0263AC;
    margin: 4rem 0 0 0;
}
header h2 {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #535353;
    flex: none;
    margin: 1rem 0 2.5rem 0;
}
.line{
    display: flex;
    margin-bottom: 3rem;
}
.line-blue, .line-gray {
    width: 300px;
    height: 4px;
    border-radius: 4px;
    margin: 0 2px;
    align-self: center;
}
.line-blue {
    background: #0263AC;
}
.line-gray {
    background: #D9D9D9;
}
.cricle-item {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #D9D9D9;
    align-self: center;
}

/* Form */
div.form-input input {
    width: 540px;
    margin: 8px 0;
}
.form-all {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #D9D9D9;
}
.form-all > form {
    margin-right: 20px;
}
.form-all > div form {
    float: right;
    margin-right: 20px;
}
label {
    color:  #1E1E1E;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
}
.form-all h3 {
    color: #1E1E1E;
    font-size: 20px;
    font-weight: 700;
}
form p {
    color:#535353;
    font-size: 14px;
    margin-bottom: 32px;
    width: 100%;
}

#language{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: flex;
    width: 100%;
    height: 46px;
    border-radius: 4px;
    border: 1px solid  #D9D9D9;
    background: #FFF;
    color: #6b6a6a;
    font-size: 16px;
    margin-top: 10px;
}
select {
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
}

select{
    background-image: url(/tab4/aset/img/arrow-down.png);
    background-repeat: no-repeat;
    background-position: 98%;
}



#name-logo, #slogan, #describe, #profesion {
    border-radius: 4px;
    width: 100%;
    border: 1px solid  #D9D9D9;
    background: #FFF;
    height: 48px;
}
#describe {
    width: 100%;
    height: 100px;
    margin-right: 10px;
}

.form-info {
    border-bottom: 1px solid #D9D9D9;
    margin: 24px 0;
}
 /* Footer */
footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
}
.footer-left {
    display: flex;
}
.footer-left img{
    width: 30px;
    height: 30px;
    margin-top: 6px;
}
.footer-left h4 {
    margin: 0 0 0 14px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #0263AC;
}
.footer-left h5 {
    margin: 0 0 0 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #535353;
}
.btn {
    width: 219px;
    height: 52px;
    background: #0263AC;
    border-radius: 8px; 
}
.btn:hover{
    scale: 1.05;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
}
.btn span{
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    margin-right: 8%;
}



/* Responsive */

@media (min-width: 1024px) {
    body {
        width: 986px;
        margin-left: auto;
        margin-right: auto;

    }
}

@media (min-width: 768px) and (max-width:1023px) {
    body {
        width: 684px;
        margin-left: auto;
        margin-right: auto;
        overflow: scroll;
        scale: 0.95;
    }
    .main {
        margin-bottom: 30px;
    }
    .slide {
        width: 80%;
    }
    .line {
        display: none;
    }

    .form-all h3 {
        color: #1E1E1E;
        font-size: 18px;
        font-weight: 600;
    }
    .form-all > form {
        margin-right: 0;
        scale: 0.9;
    }
    .form-all > div form {
        float: right;
        margin-right: 0;
        scale: 0.9;
    }
}
@media (max-width:767px) {
    body {
        width: 100%;
    }
    address {
        display: none;
    }
    header h1, header h2 {
        display: none;
    }
    .custom {
        display: block;
        font-size: 26px;
    }
    .line {
        display: none;
    }
    .form-input, .form-all {
        width: 100%;
    }
    
    .form-info {
        margin: 0;
    }
    .form-all h3 {
        color: #1E1E1E;
        font-size: 16px;
        font-weight: 500;
        margin-left: 4px;
    }
    .form-all > form {
        margin-right: 20px;
        scale: 0.8;
        width: 60%;
    }
    .form-all > div form {
        float: right;
        margin-right: 20px;
        scale: 0.8;
        width: 60%;

    }



    footer {
        margin: 20px 0 30px 0;
        justify-content: center;
    }
    .footer-left {
        display: none;
    }
    .btn {
        width: 120px;
        height: 40px;
        border-radius: 16px;
        text-align: center;
        margin-bottom: 30px;
    }
    .btn span {
        font-weight: 300;
        font-size: 1rem;
    }
    .btn img {
        display: none;
    }
}